@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

.menu .content, .menu .content .logo ul {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 768px) {
  .menu .content, .menu .content .logo ul {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

.inner .container .overlay, .menu .content, .menu .content .logo, .menu .content .botton {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .inner .container .overlay, .menu .content, .menu .content .logo, .menu .content .botton {
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.inner, .menu .content {
  display: flex;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

h1,
h2,
h3 {
  margin-bottom: 0.9375rem;
  font-weight: 700;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  width: 25%;
  z-index: 1;
}
@media (max-width: 768px) {
  .menu {
    position: static;
    width: 100%;
  }
}
.menu .t-menu {
  display: none;
}
@media (max-width: 768px) {
  .menu .t-menu {
    display: block;
    border: 1px solid #000;
    padding: 0 0.5357142857rem;
    font-size: 1.5625rem;
  }
}
.menu .content {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .menu .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.menu .content a {
  text-decoration: none;
  color: #000;
}
.menu .content a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .menu .content .logo {
    padding: 0;
  }
}
.menu .content .logo ul {
  line-height: 2.25;
  padding-left: 0;
  margin-bottom: 0;
}
.menu .content .logo ul li {
  list-style: none;
}
@media (max-width: 768px) {
  .menu .content .logo ul {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu .content .botton {
    display: none;
  }
}
.menu .content .botton p {
  margin-bottom: 0;
  font-size: 0.8152173913rem;
}

.inner {
  flex-wrap: wrap;
  margin-left: 25%;
}
@media (max-width: 768px) {
  .inner {
    margin-left: 0;
    width: 100%;
  }
}
.inner .container {
  flex: 0 1 33.333%;
  display: flex;
  position: relative;
  cursor: pointer;
}
.inner .container img, .inner .container a {
  width: 100%;
  height: 100%;
}
.inner .container:hover .overlay {
  opacity: 1;
}
@media (max-width: 768px) {
  .inner .container {
    flex-basis: 50%;
  }
}
@media (max-width: 425px) {
  .inner .container {
    flex-basis: 100%;
  }
}
.inner .container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #FFF;
}
.inner .container .overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  margin-bottom: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

/*# sourceMappingURL=main.css.map */
