@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var.$background-color-base;
  width: 25%;
  z-index: 1;

  @include mix.tablet-styles {
    position: static;
    width: 100%;
  }

  .t-menu {
    display: none;

    @include mix.tablet-styles {
      display: block;
      border: 1px solid var.$text-color-base;
      padding: 0 math.div(var.$gutter-base, 3.5);
      font-size: math.div(var.$gutter-base, 1.2);
    }
  }


    .content {
      @extend %flex, %wrap, %section;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    
          @include mix.tablet-styles {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
    
    a {
      text-decoration: none;
      color: var.$text-color-base;
      &:hover {
        text-decoration: underline;
      }
    }

      .logo {
        @extend %wrap;

           @include mix.tablet-styles {
             padding: 0;
           }
           
      ul {
        @extend %section;
        line-height: var.$line-height-base * 1.5;
        padding-left: 0;
        margin-bottom: 0;
        li {
          list-style: none;
        }

        @include mix.tablet-styles {
          display: none;
          
        }
      }
    }

    .botton {
      @extend %wrap;
      @include mix.tablet-styles {
        display: none;
      }
      p {
        margin-bottom: 0;
        font-size: math.div(var.$gutter-base, 2.3);
      }
    }
  }
}
