@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";


.inner {
    @extend %flex;
    flex-wrap: wrap;
    margin-left: 25%;
    
    
    
        @include mix.tablet-styles {
            margin-left: 0;
            width: 100%;
        }
    
    .container { 
        flex: 0 1 33.333%;
        display: flex;
        position: relative;
        cursor: pointer;

            img, a {
                width: 100%;
                height: 100%;
            }
        
             &:hover .overlay {
                opacity: 1;
            }

            @include mix.tablet-styles {
                flex-basis: 50%;
            }
        
            @include mix.mobile-l-styles {
                flex-basis: 100%;
            }

        .overlay {
            @extend %wrap;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: var.$background-color-base;
            
            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 80%;
                margin-bottom: 0;
                border-top: 1px solid var.$text-color-base;
                border-bottom: 1px solid var.$text-color-base;
                padding-top: math.div(var.$gutter-base, 2);
                padding-bottom: math.div(var.$gutter-base, 2);
            }
        }
    }
}





